<div class="chips-demo">
  <md-card>
    <md-toolbar color="primary">Static Chips</md-toolbar>

    <md-card-content>
      <h4>Simple</h4>

      <md-chip-list>
        <md-chip>Chip 1</md-chip>
        <md-chip>Chip 2</md-chip>
        <md-chip>Chip 3</md-chip>
      </md-chip-list>

      <h4>Unstyled</h4>

      <md-chip-list>
        <md-basic-chip>Basic Chip 1</md-basic-chip>
        <md-basic-chip>Basic Chip 2</md-basic-chip>
        <md-basic-chip>Basic Chip 3</md-basic-chip>
      </md-chip-list>

      <h4>Advanced</h4>

      <md-chip-list selectable="false">
        <md-chip color="accent" selected="true">Selected/Colored</md-chip>

        <md-chip color="warn" selected="true" *ngIf="visible"
                 (destroy)="alert('chip destroyed')" (remove)="toggleVisible()">
          <md-icon md-chip-remove>cancel</md-icon>
          With Events
        </md-chip>
      </md-chip-list>
    </md-card-content>
  </md-card>

  <md-card>
    <md-toolbar color="primary">Dynamic Chips</md-toolbar>

    <md-card-content>
      <h4>Input Container</h4>

      <p>
        You can easily put the the <code>&lt;md-chip-list&gt;</code> inside of an
        <code>&lt;md-input-container&gt;</code>.
      </p>

      <md-input-container [floatPlaceholder]="people.length > 0 ? 'always' : 'auto'">
        <md-chip-list aria-label="Contributors to Angular Material">
          <md-chip *ngFor="let person of people" [color]="color" [selectable]="selectable"
                   [removable]="removable" (remove)="remove(person)">
            {{person.name}}
            <md-icon mdChipRemove aria-label="Delete this chip">cancel</md-icon>
          </md-chip>

          <input mdInput placeholder="New Contributor..."
                 mdChipInput (chipAdded)="add($event)"
                 [separatorKeys]="separatorKeys" [addOnBlur]="addOnBlur" />
        </md-chip-list>
      </md-input-container>

      <p>
        The example above has overridden the <code>[separatorKeys]</code> input to allow for
        <code>ENTER</code>, <code>COMMA</code> and <code>SEMI COLON</code> keys.
      </p>

      <h4>Options</h4>
      <p>
        <md-checkbox name="selectable" [(ngModel)]="selectable">Selectable</md-checkbox>
        <md-checkbox name="removable" [(ngModel)]="removable">Removable</md-checkbox>
        <md-checkbox name="addOnBlur" [(ngModel)]="addOnBlur">Add on Blur</md-checkbox>
      </p>

      <h4>Stacked Chips</h4>

      <p>
        You can also stack the chips if you want them on top of each other and/or use the
        <code>(focus)</code> event to run custom code.
      </p>

      <md-chip-list class="mat-chip-list-stacked">
        <md-chip *ngFor="let aColor of availableColors"
                 (focus)="color = aColor.color" color="{{aColor.color}}" selected="true">
          {{aColor.name}}
        </md-chip>
      </md-chip-list>
    </md-card-content>
  </md-card>

  <md-card class="demo-autocomplete">
    <md-toolbar color="primary">Autocomplete Chips</md-toolbar>

    <md-card-content>
      <h4>Autocomplete Example</h4>

      <p>
        You can also utilize the <code>&lt;md-chip-list&gt;</code> alongside the
        <code>[md-autocomplete]</code> component.
      </p>

      <p>
        <strong>currentFood:</strong> {{currentFood}}
      </p>

      <md-input-container [floatPlaceholder]="people.length > 0 ? 'always' : 'auto'">
        <md-chip-list [enableKeyboard]="trigger.panelOpen ? false : true">
          <md-chip *ngFor="let favoriteFood of favoriteFoods"
                   (remove)="removeFavoriteFood(favoriteFood)">
            {{favoriteFood}}
            <md-icon mdChipRemove aria-label="Delete {{favoriteFood}}">cancel</md-icon>
          </md-chip>

          <input mdInput mdChipInput (chipAdded)="addFavoriteFood(currentFood)"
                 [mdAutocomplete]="foodsAuto" #trigger="mdAutocompleteTrigger" [(ngModel)]="currentFood" />
        </md-chip-list>
      </md-input-container>

      <md-autocomplete #foodsAuto="mdAutocomplete">
        <md-option *ngFor="let food of filterFoodChoices(currentFood)" [value]="food">
          <span>{{ food }}</span>
        </md-option>
      </md-autocomplete>

      <p>
        <em>
          <strong>Note:</strong> If you want to allow only choices from the autocomplete, simply
          remove the <code>mdChipInput</code> directive and the <code>(chipAdded)</code> event.
        </em>
      </p>
    </md-card-content>
  </md-card>
</div>
